.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 40px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}
.footer-links li:hover{
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 10px;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icon-conatiner{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

@media (max-width: 768px) {
    .footer {
        gap: 30px;
    }
    .footer-logo{
        margin-top: 40px;
    }

    .footer-logo p {
        font-size: 1.8rem;
        text-align: center;
        margin-top: 20px;
    }

    .footer-links {
        gap: 20px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .footer {
        gap: 25px;
        padding: 30px 15px;
    }

    .footer-logo {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
}